<ul>
  <li>
    <b>What is this?</b> This is a site that allows you to easily share benchmarking results.
  </li>
  <li>
    <b>How do I use it?</b> Install <code>benchmark-ips</code> version <code>2.6.0</code> or greater and run your benchmark with <code>SHARE=1</code>. I.e.: <code>SHARE=1 ruby my_benchmark.rb</code>
  </li>
  <li>
    <b>I shared a benchmark, how do I find it?</b> The url for your shared benchmark is output in the terminal after it runs. Share that URL with friends, enemies, whoever.
  </li>
  <li>
    <b>The site is ugly, how can I make it nicer?</b> Send a PR to <a href="https://github.com/evanphx/benchmark.fyi">github.com/evanphx/benchmark.fyi</a> with your changes!
  </li>
  <li>
    <b>I have a great idea to improve benchmark.fyi!</b> <em>AAWESOME!</em> Open an issue or send a PR to <a href="https://github.com/evanphx/benchmark.fyi">github.com/evanphx/benchmark.fyi</a>!
  </li>
  <li>
    <b>Who made this?</b> Evan Phoenix (<a href="https://twitter.com/evanphx">evanphx</a>) did.
  </li>
</ul>

